# Data files
*.csv
*.dat
*. hdf5
data/
results/

# files related to local setup
notes/
environment/environment_nopip*
environment/pip_requirements*


# Temporary files
*. tmp
*. log
xsnow/__pycache__/
. ipynb_checkpoints/
*.py[cod]
*$py.class
*.Thumbs.db
*cpython-39*

# egg files
xsnow.egg-info/

# pyenv
*.python-version

# Editor history files
*.history

# VS Code
*.vscode/
*.code-workspace

# JupyterLab
*.jupyterlab-debug.log

# DS_Store
*.DS_Store
